.footer-content {
  justify-content: flex-end;
}
.footer {
  bottom: 0;
}
.iconss {
  font-size: 50px !important;
}
h6 {
  margin-bottom: 15px !important;
  font-size: 18px !important;
}
.footer-logo {
  width: 150px;
  height: 50px;
}
.iconssmini {
  font-size: 30px !important;
}
