.footer-content {
  justify-content: flex-end;
}
.footer {
  bottom: 0;
  margin-top: 100px;
}
.iconss {
  font-size: 50px !important;
}
h6 {
  margin-bottom: 15px !important;
 
}
.footer-logo {
  width: 150px;
  height: 50px;
}
.iconssmini {
  font-size: 30px !important;
}
.dropdown-lang{
  width:280px!important;
}
